.App {
  /*text-align: center;*/
}

#navigation {
  display: flex;
  align-items:center;
  justify-content: space-around;
  background: #333;
  color: white;
  padding: 0 10px;
}

#nav-header-container {
  display: flex;
  align-items: center;

}

#nav-header-container h1 {
  margin-left: 20px;
}

#calendar-icon {
  font-size: 2rem;
}

#nav-list {
  display: flex;
  /*padding: 10px 0;*/
}

#nav-list li {
  list-style: none;
  margin: 0 10px;
}

#cal-container {
  border: 3px solid black;
  border-radius: 20px;
  margin: 40px;
  padding: 0 15px 15px 15px;
  /*overflow: scroll;*/
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#month-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 10px;
  color: white;
}

#month-selector-container span {
  font-size: 1.5rem;
}

#prev-icon, #next-icon {
  font-size: 1.5rem;
  margin: 0 10px ;
}
