:root {
  --main-bg: #333;
}

.App {
  /*text-align: center;*/
}

#navigation {
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: var(--main-bg);
  color: white;
  padding: 0 5vw;
}

#nav-header-container {
  display: flex;
  align-items: center;

}

#nav-header-container h1 {
  margin-left: 15px;
}

#calendar-icon {
  font-size: 2rem;
}

#nav-list {
  display: flex;
  /*padding: 10px 0;*/
}

#nav-list li {
  list-style: none;
  margin: 0 2vw;
}

#cal-container {
  border: 4px solid var(--main-bg);
  border-radius: 10px;
  /*margin: 40px;*/
  margin: 20px 3vw;
  padding: 0 10px 10px 10px;
  /*overflow: scroll;*/
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#month-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg);
  border-radius: 10px;
  color: white;
}

#month-selector-container span {
  font-size: 1.5rem;
}

#prev-icon, #next-icon {
  font-size: 1.5rem;
  margin: 5px 10px ;
}

/*#header-container h2 {display:none;}*/

#prev-icon:hover, #next-icon:hover {color: #aaa;}

@media only screen and (max-width: 600px){
  #month-selector-container span, #prev-icon, #next-icon, #header-container h2 {
    font-size: 1.2rem;
  }
  #header-container {
    flex-direction: column;
    margin: 0 0 10px 0;
  }

}
